* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5dc;
    font-family: Arial, sans-serif;
}

/* HEADER (Mobile First) */
header {
    width: 100%;
    background: #800000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Navbar */
.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 900;
}

.logo span {
    color: #f5f5dc;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-btn span {
    width: 28px;
    height: 3px;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #800000;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 25px 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #FA7436;
}

/* Open Menu */
#menu-toggle:checked~.nav-links {
    display: flex;
}

/* TABLET VIEW */
@media (min-width:768px) {

    .navbar {
        padding: 18px 35px;
    }

    .logo {
        font-size: 34px;
    }

    .nav-links a {
        font-size: 18px;
    }

}

/* LAPTOP VIEW*/
@media (min-width:1024px) {

    /* Hide hamburger */
    .menu-btn {
        display: none;
    }

    /* Normal nav menu */
    .nav-links {
        position: static;
        width: auto;
        background: none;
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding: 0;
        box-shadow: none;
    }

    .navbar {
        padding: 22px 40px;
    }

    .logo {
        font-size: 36px;
    }

}

/* LARGE DESKTOP */
@media (min-width:1280px) {

    .navbar {
        padding: 24px 10px;
    }

    .nav-links {
        gap: 40px;
    }

    .nav-links a {
        font-size: 18px;
    }

    .logo {
        font-size: 38px;
    }

}