*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f8f8;
}

/* Navbar */
header{
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.navbar{
    max-width:1200px;
    margin:auto;
    padding:18px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:bold;
}
.logo a{
    text-decoration: none;
}

.logo span{
    color:#FA7436;
}

/* Hide checkbox */
#menu-toggle{
    display:none;
}

/* Links */
.nav-links{
    display:flex;
    gap:25px;
    align-items:center;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    transition:0.3s;
}

.nav-links a:hover{
    color:#FA7436;
}

/* Hamburger */
.menu-btn{
    display:none;
    flex-direction:column;
    cursor:pointer;
    gap:5px;
}

.menu-btn span{
    width:28px;
    height:3px;
    background:#222;
    border-radius:5px;
}

/* Mobile */
@media(max-width:768px){

    .menu-btn{
        display:flex;
    }

    .nav-links{
        position:absolute;
        top:75px;
        left:0;
        width:100%;
        background:#fff;
        flex-direction:column;
        gap:20px;
        padding:25px 0;
        display:none;
        box-shadow:0 10px 15px rgba(0,0,0,0.08);
    }

    /* Show menu when checked */
    #menu-toggle:checked ~ .nav-links{
        display:flex;
    }
}